<?php

/**
 * Local Configuration Override for DEVELOPMENT MODE.
 *
 * This configuration override file is for providing configuration to use while
 * in development mode. Run:
 *
 * <code>
 * $ composer development-enable
 * </code>
 *
 * from the project root to copy this file to development.local.php and enable
 * the settings it contains.
 *
 * You may also create files matching the glob pattern `{,*.}{global,local}-development.php`.
 */

return [
    'view_manager' => [
        'display_exceptions' => true,
    ],
    'session_manager' => [
        'options' => [
            'attach_default_validators' => false
        ],
    ],
    'log_settings' => [
        'log_errors'      => false,
        'log_exceptions'  => false,
        'log_table_name'  => 'log',
        'log_time_format' => 'm-d-Y H:i:s',
    ],
    // webinertia utils config
    'diagnostic_settings' => [
        'log_execution_time'  => true,
        'enable_firebug'      => false,
        'enable_db_profiling' => true,
    ],
];
